@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

html {
  direction: rtl;
}

button.sign-in {
  border-radius: 7px;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  font-family: "Tajawal", sans-serif;
}

#pra {
  font-weight: 500;
  color: rgb(68, 68, 68);
}

.nav-item a.active {
  color: rgb(255, 255, 255) !important;
}




/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* Featurettes
  ------------------------- */

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6e757a #2f353a;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #2f353a;
}

*::-webkit-scrollbar-thumb {
  background-color: #6e757a;
  border-radius: 20px;
  border: 3px solid #2f353a;
}

section.card-animation .card:hover {
  transform: scale(1.05);
}

section.card-animation .card {
  transition: transform 0.2s ease;
}

form.background {
  background-color: #fdfdfd;
  border-radius: 5%;
  box-shadow: 0 0 5px #c3c3c3;
}
